RB_IMAGE_TAG=6.0
RB_HTTP_PORT=8081
RB_DOMAIN=localhost
RB_COMPANY=CR Local Testing
RB_DATABASE_NAME=reviewboard
RB_DATABASE_USERNAME=reviewboard
RB_DATABASE_PASSWORD=reviewboard
SVN_HTTP_PORT=7443
SVN_SVN_PORT=3690
SVN_REPO_NAME=Test
SVN_CREATE_LAYOUT=true
